@import "styles/_variables.scss";

.forecast-container {
  display: flex;
  gap: 20px;

  &.-skeleton {
    flex-flow: nowrap;
  }
}

@media screen and (max-width: 992px) {
  .forecast-container {
    flex-flow: wrap;    
  }
}

.forecast-item {
  padding: 25px;
  background-color: $primaryColor;
  flex: 1 1 auto;

  .temperature {
    font-size: 28px;
  }

  &.-today {
    background: rgb(204, 171, 238);
    background: linear-gradient(
      228deg,
      rgba(204, 171, 238, 1) 27%,
      rgba(0, 212, 255, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}
