@import "styles/_variables.scss";

nav {
  margin-bottom: 50px;

  .app-name {
    color: $color;
    text-decoration: none;
    font-size: 40px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
  }
}
