$primaryColor: var(--primary);
$secondaryColor: #c57ab7;

$bgColor: var(--bg);
$color: var(--color);

// In order to enable global scss variables, do this: https://stackoverflow.com/questions/49642098/angular-material-global-color-variables